<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" text-center>
            Campus Services
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card padding (click)="calendar()">
                    <img src="../../assets/icon/png/012-calendar.png">
                    <h3>Calendar</h3>
                </ion-card>
                <hr>

                <ion-card padding (click)="catering()">
                    <img src="../../assets/icon/png/015-dinner.png">
                    <h3>Catering</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../assets/icon/png/017-parliament.png">
                    <h3>Halls</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../assets/icon/png/map-location.png">
                    <h3>Map</h3>
                </ion-card>
                <hr>

                <ion-card padding (click)="sport()">
                    <img src="../../assets/icon/png/020-sport.png">
                    <h3>Sports</h3>
                </ion-card>
            </ion-col>
            <ion-col size="6">

                <ion-card padding (click)="clinic();">
                    <img src="../../assets/icon/png/hospital.png">
                    <h3>Clinic</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../assets/icon/png/016-bank.png">
                    <h3>Financial</h3>
                </ion-card>
                <hr>

                <ion-card padding>
                    <img src="../../assets/icon/png/018-laptop.png">
                    <h3>Laptops</h3>
                </ion-card>
                <hr>

                <ion-card padding (click)="directory()">
                    <img src="../../assets/icon/png/006-directory.png">
                    <h3>Phone</h3>
                </ion-card>
                <hr>

                <ion-card padding (click)="security()">
                    <img src="../../assets/icon/png/021-policeman.png">
                    <h3>Security</h3>
                </ion-card>

            </ion-col>

        </ion-row>
    </ion-grid>



</ion-content>