<ion-content>
    <h6 style="margin-left: 10px;"> Players</h6>
    <ion-list>
        <ion-item color="warning">
            <ion-row>
                <ion-col size="4">Danje</ion-col>
                <ion-col>University of Zimbabwe</ion-col>
            </ion-row>
        </ion-item>
        <hr>
        <ion-item color="warning">
            <ion-row>
                <ion-col size="4">Danje</ion-col>
                <ion-col>University of Zimbabwe</ion-col>
            </ion-row>
        </ion-item>
        <HR>
        <ion-item color="warning">
            <ion-row>
                <ion-col size="4">Danje</ion-col>
                <ion-col>University of Zimbabwe</ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>